{% extends 'base.html' %}
{% block title %}password change{% endblock %}
{% block content %}
    <div class="row text-center vertical-middle-sm">
    <h1>Forgotten your password? Reset, Please.</h1>
    <p>Enter your email to set a new password.</p>
    {% if form.new_password1.help_text %}
        <div class="text-left" style="margin-left: 400px;">
        <p>{{ form.new_password1.help_text|safe }}</p>
        </div>
    {% endif %}

    <form class="form-horizontal" action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-md-5 control-label text-right">
                {{ form.email.label_tag }}
            </label>
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>

        <input type="submit" value="Send email" class="btn btn-primary btn-lg"/>
    </form>
    </div>
{% endblock %}